* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica;
}

.navigation {}
.navigation__brand {}
.navigation__group {}
.navigation__group > * {}
.navigation__group > .router-link-active {}
