* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  margin: 0;
  user-select: none;
}

.navigation {
  background-color: #521751;
  display: flex;
  padding: 1.2rem;
}
.navigation__brand {
  color: white;
  display: inline-block;
  font-weight: bold;
  margin-right: auto;
  text-decoration: none;
}
.navigation__group {
  display: inline-block;
}
.navigation__group > * {
  color: white;
  display: inline-block;
  margin-left: 1.4rem;
  text-decoration: none;
}
.navigation__group > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
}
.navigation__group > .router-link-active,
.navigation__group > button:active {
  color: #fa923f;
}

.view-container {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
}

.jumbo {
  text-align: center;
}
.jumbo__heading {
  font-size: 2rem;
  font-weight: bold;
}
.jumbo__text {
  padding: 1.4rem 0;
}
.jumbo__actions {
  display: flex;
  justify-content: center;
}
.jumbo__btn {
  margin: 0 10px;
}

.btn {
  border-radius: 3px;
  border: 1px solid #521751;
  color: #521751;
  display: inline-block;
  font: inherit;
  outline: none;
  padding: 10px 0;
  text-decoration: none;
  width: 100px;
}
.btn:active {
  background-color: #521751;
  color: white;
}

.form {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  color: #4e4e4e;
  padding: 20px;
  width: 400px;
}
.form__group {
  margin-bottom: 10px;
}
.form__group label {
  display: block;
  margin-bottom: 6px;
}
.form__group input[type="checkbox"] + label {
  display: inline;
  margin-left: 0.4rem;
}
.form__input {
  border: 1px solid #ccc;
  font: inherit;
}
.form__input:focus {
  outline: none;
}
input.form__input {
  display: inline-block;
  padding: 6px 12px;
  width: 100%;
}
input.form__input:focus {
  background-color: #eee;
  border: 1px solid #521751;
}
input[type="checkbox"].form__input {
  bottom: 1.2px;
  margin: 0;
  position: relative;
  width: auto;
}
