* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  margin: 0;
  user-select: none;
}

.navigation {
  background-color: #521751;
  display: flex;
  padding: 1.2rem;
}
.navigation__brand {
  color: white;
  display: inline-block;
  font-weight: bold;
  margin-right: auto;
  text-decoration: none;
}
.navigation__group {
  display: inline-block;
}
.navigation__group > * {
  color: white;
  display: inline-block;
  margin-left: 1.4rem;
  text-decoration: none;
}
.navigation__group > .router-link-active {
  color: #fa923f;
}

.view-container {
  display: flex;
  justify-content: center;
  padding-top: 1.4rem;
}

.home {
  text-align: center;
}
.home__heading {
  font-size: 2rem;
  font-weight: bold;
}
.home__text {
  padding: 1.4rem 0;
}
.home__actions {
  display: flex;
  justify-content: center;
}
.home__btn {
  margin: 0 10px;
}

.btn {
  border-radius: 3px;
  border: 1px solid #521751;
  color: #521751;
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  width: 100px;
}
.btn:active {
  background-color: #521751;
  color: white;
}
